NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="https://m0h1t1.github.io/CSE445-A4"
    targetNamespace="https://m0h1t1.github.io/CSE445-A4"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <!-- root element -->
    <xsd:element name="NationalParks" type="NationalParksType"/>

    <!-- each park element -->
    <xsd:complexType name="NationalParksType">
        <xsd:sequence>
            <xsd:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NationalParkType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <!-- phone with possible multiple numbers -->
            <xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <!-- optional rating -->
        <xsd:attribute name="Rating" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="Number" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <!-- required nearest airport -->
        <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
    </xsd:complexType>
</xsd:schema>