NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- root element -->
    <xs:element name="NationalParks" type="NationalParksType"/>

    <!-- each park element -->
    <xs:complexType name="NationalParksType">
        <xs:sequence>
            <xs:element name="NationalPark" type="NationalParkType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NationalParkType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <!-- phone with possible multiple numbers -->
            <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <!-- optional rating -->
        <xs:attribute name="Rating" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <!-- required nearest airport -->
        <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>